<?xml version="1.0"?>
<config>
	<app framerate_cap="60">
		<title>Temple Escape</title>
		<organization>UPC</organization>
	</app>
	<renderer>
		<vsync value="true" />
	</renderer>
	<window>
		<resolution width="1024" height="768" scale="3" />
		<fullscreen value="false" />
		<borderless value="false" />
		<resizable value="false" />
		<fullscreen_window value="false" />
	</window>
	<music>
		<lvlMusic name="textures/source_spritesheet.png" />
	</music>
	<player>
		<fxPlayerDead name="audio/fx/dead_fx.wav" />
		<fxPlayerJump name="audio/fx/jump_fx.wav" />
		<spritesheetSource name="textures/source_spritesheet.png">
			<animation name="right_idle" speed="5.0" loop="true">
				<frame x="17" y="18" width="14" height="14" />
				<frame x="33" y="18" width="14" height="14" />
			</animation>
			<animation name="left_idle" speed="5.0" loop="true">
				<frame x="88" y="163" width="14" height="14" />
				<frame x="105" y="163" width="14" height="14" />
			</animation>
			<animation name="right_run" speed="5.0" loop="true">
				<frame x="1" y="1" width="14" height="15" />
				<frame x="20" y="1" width="14" height="15" />
				<frame x="37" y="1" width="14" height="15" />
			</animation>
			<animation name="left_run" speed="5.0" loop="true">
				<frame x="121" y="146" width="14" height="15" />
				<frame x="102" y="146" width="14" height="15" />
				<frame x="85" y="146" width="14" height="15" />
			</animation>
			<animation name="right_jump" speed="5.0" loop="false">
				<frame x="2" y="16" width="12" height="14" />
			</animation>
			<animation name="left_jump" speed="5.0" loop="false">
				<frame x="122" y="161" width="12" height="14" />
			</animation>
			<animation name="left_dead" speed="5.0" loop="true">
				<frame x="105" y="180" width="13" height="8" />
				<frame x="121" y="180" width="13" height="8" />
				<frame x="105" y="180" width="13" height="8" />
				<frame x="121" y="180" width="13" height="8" />
				<frame x="105" y="180" width="13" height="8" />
				<frame x="121" y="180" width="13" height="8" />
				<frame x="105" y="180" width="13" height="8" />
				<frame x="121" y="180" width="13" height="8" />
			</animation>
			<animation name="right_dead" speed="5.0" loop="true">
				<frame x="2" y="35" width="13" height="8" />
				<frame x="105" y="180" width="13" height="8" />
				<frame x="2" y="35" width="13" height="8" />
				<frame x="105" y="180" width="13" height="8" />
				<frame x="2" y="35" width="13" height="8" />
				<frame x="105" y="180" width="13" height="8" />
				<frame x="2" y="35" width="13" height="8" />
				<frame x="105" y="180" width="13" height="8" />
			</animation>
			<animation name="right_shoot" speed="5.0" loop="true">
				<frame x="58" y="2" width="14" height="14" />
			</animation>
			<animation name="left_shoot" speed="5.0" loop="true">
				<frame x="64" y="147" width="14" height="14" />
			</animation>
		</spritesheetSource>
	</player>
	<enemies>
		<spritesheetSource name="textures/source_spritesheet.png">
			<animation name="slime_right_idle" speed="10.0" loop="true">
				<frame x="124" y="45" width="16" height="16" />
				<frame x="140" y="45" width="16" height="16" />
			</animation>
			<animation name="slime_left_idle" speed="10.0" loop="true">
				<frame x="76" y="45" width="16" height="16" />
				<frame x="92" y="45" width="16" height="16" />
			</animation>
			<animation name="slime_right_jump" speed="10.0" loop="true">
				<frame x="139" y="96" width="16" height="16" />
				<frame x="123" y="96" width="16" height="16" />
				<frame x="107" y="96" width="16" height="16" />
				<frame x="91" y="96" width="16" height="16" />
				<frame x="75" y="96" width="16" height="16" />
			</animation>
			<animation name="slime_left_jump" speed="10.0" loop="true">
				<frame x="75" y="67" width="16" height="16" />
				<frame x="91" y="67" width="16" height="16" />
				<frame x="107" y="67" width="16" height="16" />
				<frame x="123" y="67" width="16" height="16" />
				<frame x="139" y="67" width="16" height="16" />
			</animation>
			<animation name="bat_fly_right" speed="10.0" loop="true">
				<frame x="76" y="35" width="16" height="12" />
				<frame x="92" y="35" width="16" height="12" />
				<frame x="109" y="35" width="16" height="12" />
			</animation>
			<animation name="bat_fly_left" speed="10.0" loop="true">
				<frame x="47" y="182" width="16" height="12" />
				<frame x="31" y="182" width="16" height="12" />
				<frame x="14" y="182" width="16" height="12" />
			</animation>
		</spritesheetSource>
	</enemies>
	<particles>
		<fxPlayerBasicShot name="audio/fx/player_basic_shot_fx.wav" />
		<spritesheetSource name="textures/source_spritesheet.png">
			<particle name="player_basic_shot" speed="0.1" life_time="3000">
				<animation name="player_basic_shot_right" speed_x="2" speed_y="0.0" loop="true">
					<frame x="4" y="83" width="9" height="5" />
					<frame x="18" y="83" width="9" height="5" />
					<frame x="34" y="83" width="9" height="5" />
				</animation>
				<animation name="player_basic_shot_left" speed_x="-2" speed_y="0.0" loop="true">
					<frame x="34" y="115" width="9" height="5" />
					<frame x="20" y="115" width="9" height="5" />
					<frame x="4" y="115" width="9" height="5" />
				</animation>
			</particle>
		</spritesheetSource>
	</particles>
	<file_system>
		<path>data.zip</path>
	</file_system>
	<map>
		<folder>maps/</folder>
		<spritesheetSource name="maps/enviroment-tiles.png">
			<animation name="lava_waterfall" speed="0.01" loop="true">
				<frame x="144" y="32" width="16" height="16" />
				<frame x="160" y="32" width="16" height="16" />
				<frame x="176" y="32" width="16" height="16" />
			</animation>
			<animation name="lava_animation_1" speed="0.05" loop="true">
				<frame x="144" y="0" width="16" height="32" />
				<frame x="160" y="0" width="16" height="32" />
				<frame x="176" y="0" width="16" height="32" />
				<frame x="192" y="0" width="16" height="32" />
				<frame x="208" y="0" width="16" height="32" />
				<frame x="224" y="0" width="16" height="32" />
			</animation>
			<animation name="lava_animation_2" speed="0.05" loop="true">
				<frame x="160" y="0" width="16" height="32" />
				<frame x="176" y="0" width="16" height="32" />
				<frame x="192" y="0" width="16" height="32" />
				<frame x="208" y="0" width="16" height="32" />
				<frame x="224" y="0" width="16" height="32" />
				<frame x="144" y="0" width="16" height="32" />
			</animation>
			<animation name="lava_animation_3" speed="0.05" loop="true">
				<frame x="176" y="0" width="16" height="31" />
				<frame x="192" y="0" width="16" height="31" />
				<frame x="208" y="0" width="16" height="31" />
				<frame x="224" y="0" width="16" height="31" />
				<frame x="144" y="0" width="16" height="31" />
				<frame x="160" y="0" width="16" height="31" />
			</animation>
			<animation name="lava_animation_4" speed="0.05" loop="true">
				<frame x="192" y="0" width="16" height="31" />
				<frame x="208" y="0" width="16" height="31" />
				<frame x="224" y="0" width="16" height="31" />
				<frame x="144" y="0" width="16" height="31" />
				<frame x="160" y="0" width="16" height="31" />
				<frame x="176" y="0" width="16" height="31" />
			</animation>
			<animation name="lava_animation_5" speed="0.05" loop="true">
				<frame x="208" y="0" width="16" height="31" />
				<frame x="224" y="0" width="16" height="31" />
				<frame x="144" y="0" width="16" height="31" />
				<frame x="160" y="0" width="16" height="31" />
				<frame x="176" y="0" width="16" height="31" />
				<frame x="192" y="0" width="16" height="31" />
			</animation>
			<animation name="lava_animation_6" speed="0.05" loop="true">
				<frame x="224" y="0" width="16" height="31" />
				<frame x="144" y="0" width="16" height="31" />
				<frame x="160" y="0" width="16" height="31" />
				<frame x="176" y="0" width="16" height="31" />
				<frame x="192" y="0" width="16" height="31" />
				<frame x="208" y="0" width="16" height="31" />
			</animation>
		</spritesheetSource>
		<scene>
			<data name="lvl1.tmx" start="true" currentLvl="true" />
			<data name="lvl2.tmx" start="false" currentLvl="false" />
		</scene>
	</map>
</config>
